<div class="form-group">
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> が存在しているため保存出来ません:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :endtime %>
    <%= form.date_field :endtime, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, [["未着手", "waiting"], ["着手中", "doing"],  ["完了", "done"]],{}, {class: "form-control"}  %>
  </div>

  <div class="field">
    <%= form.label "ファイル添付" %>
    <%= form.file_field :files, multiple: true, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a,{}, {class: "form-control"} %>
  </div>
<br>
<%= t('view.label') %>
<br>
<% label_list.each do |label| %>
  <% if action_name == "new" || action_name == "create" %>
    <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false}, label[:id] %>
    <label style="background-color: lightblue"><%= label.name %></label>
  <% elsif action_name == "edit" || action_name == "update" %>
    <%= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false}, label[:id] %>
    <label style="background-color: lightblue"><%= label.name %></label>
  <% end %>
<% end %>
<br>
<%= link_to '新しくラベルを作成', new_label_path, class: "btn btn-outline-dark btn-sm"  %>
<br>
<hr>
<br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>
