
<div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">

        <%= search_form_for @q do |f| %>

          <%= f.label :name_cont, "タスク名検索" %>
          <%= f.search_field :name_cont %>
          <%= f.label :status_eq, "ステータス検索" %>
          <%= f.select :status_eq, [["未着手", "waiting"], ["着手中", "doing"], ["完了", "done"]], include_blank: true %>
          <%= f.label :labels_id_eq, "ラベル検索" %>
          <%= f.collection_select :labels_id_eq, Label.all, :id, :name %>
          <%= f.submit "検索" %>
        <% end %>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to '検索条件のクリア', request.path %>
          </li>
        </ul>
    </nav>
</div>


<hr>

<h4><%= t('view.task') %><%= t('view.index') %></h4>
<div style="text-align: right">
<%= link_to 'タスク新規作成', new_task_path, class: "btn btn-dark btn-sm"  %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('view.taskname') %></th>
      <th><%= t('view.taskdetail') %></th>
      <th><%= sort_link(@q, :endtime, t('view.endtime'), default_order: :desc) %></th>
      <th><%= t('view.status') %></th>
      <th><%= sort_link(@q, :priority, t('view.priority'), default_order: :desc) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.endtime %></td>
        <td><%= task.aasm.human_state %></td>
        <td><%= task.priority  %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>

<br>


<br>
