<p id="notice"><%= notice %></p>

<h1><%= t('view.task') %><%= t('view.index') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('view.taskname') %></th>
      <th><%= t('view.taskdetail') %></th>
      <th><%= t('view.endtime') %></th>
      <th><%= t('view.status') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.endtime %></td>
        <td><%= task.aasm.human_state %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<br>
<%= link_to 'タスク新規作成', new_task_path %>
