
<%= render 'layouts/user_image' %>

<table class="table">
  <tr>
    <th>
      <%= t('view.username') %>
    </th>
    <td>
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <th>
      <%= t('view.email') %>
    </th>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr>
    <th>
      <%= t('view.group') %>
    </th>
    <td>
      <% @user.user_groups.map(&:name).each do |name| %>
        <%= name %>
      <% end %>
    </td>
  </tr>

</table>
<%= link_to '戻る', tasks_path, class: "btn btn-outline-dark btn-sm"  %>
