<h4>新規<%= t('view.label') %>作成</h4>


<div class="form-group">
<%= form_with(model: @label, url: label_index_path, local: true) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<%= link_to '戻る', new_task_path, class: "btn btn-outline-dark btn-sm"  %>
